<div class="one-fourth  medium-down--one-half small-down--one-whole  
  column  
    quick-shop--true
    quick-shop--closed
    product-6746186874967 js-product_section
    has-thumbnail-sticker
  thumbnail
  product__thumbnail
  product__grid-item
  thumbnail__hover-overlay--false
  has-padding-bottom
           {% if section.settings.video != blank %}
            video_box_new
            {% endif %}
            ">
  <div class="product_wrap_box">
    <div class="product-wrap">
      <div class="product-image__wrapper">
        <div class="image__container product__imageContainer
                     {% if section.settings.video != blank %} video_box {% endif %}
                    ">
          <a href="{{section.settings.url }}"> 
          <div class="image-element__wrap">
            {% if section.settings.video != blank %}
            
            
            <div tabindex="-1" class="index_video_left_right" data-id="{{ section.settings.video}}" poster="{{ image | img_url: '1400x' }}">
              <video preload="none" playsinline muted poster="{{ 'video-sidebar-kids.jpg' | asset_url }}" > 
                <source src="{{ section.settings.video}}"
                        type="video/mp4"> 
              </video>
            </div>   

            {% elsif section.settings.image != blank %}
                <img class="lazy2 lazy3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.image | img_url: '720x'}}" alt="{{ section.settings.image.alt }}"/>
            {% endif %}
          </div>
          </a>
        </div>
        
        <div class="thumbnail__caption text-align-left 
                    {% if section.settings.video != blank %} video_txt {% endif %}
                    ">
          <div class="product-thumbnail">
            <a href="{{section.settings.url }}"> {{ section.settings.text }}</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
     